@page "/"

<h1>Hello, world!</h1>

Welcome to GodMode, the data editor by Project Phalanx. The one with blackjack and hookers.

<div>
    <FluentButton Appearance="Appearance.Accent" @onclick="OpenFolder">Select a folder!</FluentButton>
    <br />
    Selected @selectedFolder
</div>

@if (loadingStatus is not null)
{
    <p>
        Status: @loadingStatus
    </p>
}

@if (Manager.CurrentCompilation is { } compilation)
{
    @foreach (var root in compilation.GlobalNamespace.Catalogues)
    {
        <FluentCard Style="padding: 8px; margin: 6px;" @onclick="() => Edit(root)">
            <div>
                <h4>
                    @root.Name
                </h4>
                @root.Kind
                Id: @root.Id
            </div>
        </FluentCard>
    }
}
