<TitlePart>Roster builder</TitlePart>
test
<h1>Welcome to Project Phalanx</h1>
<p>
    This is an open source roster editor project to replace BattleScribe.
    We're creating a community-driven web app that uses the same data files
    as BattleScribe, to build on a rich data foundation and provide
    compatibility with your existing rosters.
</p>
<ul>
    <li>
        Visit <code>#project-phalanx</code> on our Discord to talk to our team:
        <a href="https://www.bsdata.net/discord" rel="nofollow">
            <img src="https://img.shields.io/discord/558412685981777922?style=popout-square" alt="BSData Discord link" style="max-width: 100%;">
        </a>
    </li>
    <li>
        Visit our GitHub repository to see source code, raise issues and see planning at
        <FluentAnchor Appearance="Appearance.Hypertext" Href="https://github.com/BSData/phalanx">https://github.com/BSData/phalanx</FluentAnchor>
    </li>
</ul>