@page "/datamanagement"

@using Phalanx.App.Pages.Management

<TitlePart>Data Management</TitlePart>

<div>
    <h1>Data Management</h1>
    <div class="control-container">
        <FluentSearch Placeholder="Search Packages"/>
        <div class="checkbox-container">
            <FluentCheckbox>Show Pulled Packages</FluentCheckbox>
            <FluentCheckbox>Show Archived Packages</FluentCheckbox>
        </div>
    </div>

    <div class="data-gallery">
        <GalleryItem/>
        <GalleryItem/>
    </div>
</div>