@page "/datamanagement"

@using Phalanx.App.Pages.Management

<TitlePart>Data Management</TitlePart>

<div>
    <h1>Data Management</h1>
    <FluentCard class="p-2">
        <FluentSearch Placeholder="Search Packages" class="w-100 mt-2 mb-3"/>
        <br />
        <FluentCheckbox>Show Pulled Packages</FluentCheckbox>
        <FluentCheckbox>Show Archived Packages</FluentCheckbox>
    </FluentCard>
    <hr/>
    <div class="data-gallery">
        <GalleryItem/>
        <GalleryItem/>
    </div>
</div>