@page "/datamanagement"

@using Phalanx.App.Pages.Management

<TitlePart>Data Management</TitlePart>

<div>
    <h1>Data Management</h1>

    <FluentButton>Add Data Source</FluentButton>

    <div class="data-gallery">
        <GalleryItem/>
    </div>
</div>
