@page "/"

<Phalanx.App.Pages.Home.WelcomeView></Phalanx.App.Pages.Home.WelcomeView>

<div style="display: flex; justify-content: space-around;">
    <fast-anchor appearance="accent" href="/rostercreate">Create a Roster</fast-anchor>
    <fast-anchor appearance="accent" href="/rosteredit">Edit Sample Roster</fast-anchor>
    <fast-anchor appearance="accent" href="/print">Format Roster</fast-anchor>

</div>