@page "/"

<Phalanx.App.Pages.Home.WelcomeView></Phalanx.App.Pages.Home.WelcomeView>

<div style="display: flex; justify-content: space-around;">
    <fast-anchor appearance="accent" href="/rosteredit">Edit sample roster</fast-anchor>
</div>