@page "/"

<Phalanx.App.Pages.Home.WelcomeView></Phalanx.App.Pages.Home.WelcomeView>

<div style="display: flex; justify-content: space-around;">
    <FluentAnchor Appearance="Appearance.Accent" Href="/rosteredit">Edit sample roster</FluentAnchor>
    <FluentAnchor Appearance="Appearance.Accent" Href="/print">Format roster</FluentAnchor>
</div>