.output-tabs {
    flex: auto;
}

.output-tabs fast-tab-panel {
    height: 100%;
}

.output-tabs fast-tab-panel>* {
    height: 100%;
    width: 100%;
}

.html-renderer {
    /* TODO white background until we can adjust styling */
    background-color: white;
    min-height: 50vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 1024px) {
    .card-container {
        flex-direction: row;
    }
}