@page "/rosteredit"

@using WarHub.ArmouryModel.EditorServices
@using WarHub.ArmouryModel.EditorServices.Formatting
@using WarHub.ArmouryModel.Source
@using Phalanx.App.Pages.Editing
@using WarHub.ArmouryModel.Concrete
@using Phalanx.App.Util

@inject Phalanx.App.Pages.Printing.RosterFormatsProvider formatter
@inject Phalanx.App.Util.RosterEditorService EditorService

@if (Roster is not null)
{
    <TitlePart>@Roster.Name</TitlePart>
    <CascadingValue Value="@Editor">
        <FluentTabs>
            <FluentTab>Edit</FluentTab>
            <FluentTabPanel>
                <RootRosterEdit/>
            </FluentTabPanel>
            <FluentTab>Options</FluentTab>
            <FluentTabPanel>
                <RosterOptions/>
            </FluentTabPanel>
            <FluentTab>Preview</FluentTab>
            <FluentTabPanel>

                <div>
                    <ListSelect @bind-Value="Format" Items="formatter.Formats">
                        @context.Name
                    </ListSelect>
                </div>

                <Phalanx.App.Pages.Printing.RosterPreviewer RosterNode="Roster" Format="Format" />
            </FluentTabPanel>
        </FluentTabs>
    </CascadingValue>

}
else
{
    <span>No roster selected</span>
}

@code {
    public RosterEditor? Editor => EditorService.Editor; 

    public RosterFormat Format { get; set; } = RosterFormatter.BuiltinFormatters[0];

    private RosterNode? Roster => Editor?.State.Roster;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadTestRoster();
    }
    void LoadTestRoster()
    {
        Editor.OperationApplied += (op, state) => StateHasChanged();

    }
}
