@page "/rostercreate"
@using WarHub.ArmouryModel.Source

<h1>Create Roster</h1>

<fast-card>
    <EditForm Model="Model">
        <fieldset>
            <legend>New roster</legend>

            <label>
                Name
                <fast-text-field placeholder="Roster name" current-value="@Model.Name"
                    @onchange="(e => Model.Name = e.Value?.ToString())">

                </fast-text-field>
            </label>
            <label>
                Game system
                <fast-select current-value="@Model.GamesystemIndex" @onchange="OnGamesystemChange">
                    @foreach (var (item, idx) in Gamesystems.Select((item, idx) => (item, idx)))
                    {
                        <fast-option value="@idx">@item.Name</fast-option>
                    }
                </fast-select>
            </label>
            <fast-button appearance="accent">Create</fast-button>
        </fieldset>
    </EditForm>
</fast-card>

@code {

    public class NewRosterModel
    {
        public string? Name { get; set; } = "New Roster";

        public int? GamesystemIndex { get; set; }
    }

    // TODO load the list
    private List<GamesystemNode> Gamesystems { get; } = new();

    public NewRosterModel Model { get; } = new();

    void OnGamesystemChange(ChangeEventArgs e)
    {
        Model.GamesystemIndex = int.TryParse(e.Value?.ToString(), out var idx) ? idx : null;
    }
}
