@page "/rostercreate"
@using WarHub.ArmouryModel.Source

<h1>Create Roster</h1>

<FluentCard class="pcard">
    <EditForm Model="Model">
        <fieldset>
            <legend>New roster</legend>

            <label>
                Name
                <FluentTextField Placeholder="Roster name" @bind-Value="@Model.Name" />
            </label>
            <label>
                Game system
                <FluentSelect @bind-Value="@Model.GamesystemIndex">
                    @foreach (var (item, idx) in Gamesystems.Select((item, idx) => (item, idx)))
                    {
                        <FluentOption Value="@idx">@item.Name</FluentOption>
                    }
                </FluentSelect>
            </label>
            <FluentButton Appearance="Appearance.Accent">Create</FluentButton>
        </fieldset>
    </EditForm>
</FluentCard>

    @code {

    public class NewRosterModel
    {
        public string? Name { get; set; } = "New Roster";

        public int? GamesystemIndex { get; set; }
    }

    // TODO load the list
    private List<GamesystemNode> Gamesystems { get; } = new();

    public NewRosterModel Model { get; } = new();
}
