.output-tabs {
    flex: auto;
}

.output-tabs fluent-tab-panel {
    height: 100%;
}

.output-tabs fluent-tab-panel>* {
    height: 100%;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 1024px) {
    .card-container {
        flex-direction: row;
    }
}