@inherits LayoutComponentBase

@using System.Reflection
@using NuGet.Versioning

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
        <span>Project Phalanx is awesome 🎉</span>
        <span>Copyright © Phalanx Team</span>
        <span>v@(AppVersion)</span>
    </footer>
</div>

@code {
    static string AppVersion = GetShortAppVersion();

    private static string GetShortAppVersion()
    {
        if (GetFromAttribute() is { } version)
        {
            return version.Metadata is { Length: > 0 } meta ? version.ToNormalizedString() + "+" + meta.Substring(0, Math.Min(meta.Length, 6)) : version.ToFullString();
        }
        return "(n/a)";

        static SemanticVersion? GetFromAttribute()
        {
            try
            {
                var raw = typeof(Program).Assembly
                .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
                ?.InformationalVersion;
                return raw is null ? null : SemanticVersion.TryParse(raw, out var parsed) ? parsed : null;
            }
            catch (System.Exception)
            {
                return null;
            }
        }
    }
}