<div class="gallery-item">
  <div class="game-system-info-container">
    <h2 class="game-system-title">A Song of Ice & Fire: Tabletop Miniture Game</h2>
    <span class="remote-version">v2.1</span>
    <span class="remote-version-release-date">3 years ago</span>
  </div>

  <div class="gallery-item-button-container">
    <FluentButton><span class="fas fa-save"></span> Save</FluentButton>
    <FluentButton><span class="fas fa-circle-down"></span> Update</FluentButton>
    <FluentButton><span class="fas fa-trash"></span> Remove</FluentButton>
    <span class="local-version">Local Version: 2.0</span>
  </div>
</div>