@using WarHub.ArmouryModel

@foreach (ICostSymbol cost in Values)
{
    if (cost.Value != 0)
    {
        <div>
            <span>
                <span>@cost.Value @cost.Name</span>

                @if (cost != Values[^1])
                {
                    <span>, </span>
                }
            </span>
        </div>
    }
}

@code {
    [Parameter, EditorRequired]
    public ImmutableArray<ICostSymbol> Values { get; set; }
}
