@using WarHub.ArmouryModel.Source
@using WarHub.ArmouryModel
@using WarHub.ArmouryModel.EditorServices

@* TODO - might be good to do polymorphism/interface instead of using a CostLinkNode *@

@foreach (ICostSymbol cost in Values)
{
    if (cost.Value != 0)
    {
        <div>
            <span>
                <span>@cost.Value @cost.Name</span>

                @if (cost != Values[^1])
                {
                    <span>, </span>
                }
            </span>
        </div>
    }
}

@code {
    [Parameter]
    public ImmutableArray<ICostSymbol> Values { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}



