@using Phalanx.SampleDataset
@using WarHub.ArmouryModel.EditorServices
@using WarHub.ArmouryModel.Source

@if (Selection is not null)
{
    <div style="display: flex; gap: 1em;">
        <FluentNumberField TValue="int" Value="Selection.Number" ValueChanged="ChangeNumber" Min="1" Size="2" />

        <span>@Selection.Name</span>

        <span>
            @foreach (var cost in Selection.Costs)
            {
                <span>@cost.Value @cost.Name</span>
                @if (cost != Selection.Costs[^1])
                {
                    <span>, </span>
                }
            }
        </span>

        <FluentButton @onclick="() => RemoveSelf(Selection)">Remove</FluentButton>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public SelectionNode? Selection { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<IRosterOperation> OnRosterEdit { get; set; }

    Task RemoveSelf(SelectionNode node)
    {
        return OnRosterEdit.InvokeAsync(RosterOperations.RemoveSelection(node));
    }

    Task ChangeNumber(int value)
    {
        return OnRosterEdit.InvokeAsync(RosterOperations.ChangeCountOf(Selection!, value));
    }
}