@using Phalanx.SampleDataset
@using WarHub.ArmouryModel.EditorServices
@using WarHub.ArmouryModel.Source

@if (Selection is not null)
{
    <div style="display: flex; gap: 1em;">

        <span>@Selection.Name</span>

        <CostDisplay Values="Selection.Costs"/>

        <FluentButton @onclick="() => RemoveSelf(Selection)">Remove</FluentButton>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public SelectionNode? Selection { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<IRosterOperation> OnRosterEdit { get; set; }

    Task RemoveSelf(SelectionNode node)
    {
        return OnRosterEdit.InvokeAsync(RosterOperations.RemoveSelection(node));
    }

}