@using Phalanx.SampleDataset
@using WarHub.ArmouryModel.EditorServices
@using WarHub.ArmouryModel.Source
@inject NavigationManager NavigationManager
@using WarHub.ArmouryModel


@if (Selection is not null)
{
    <div style="display: flex; gap: 1em;" >

        <span @onclick="() => EditSelf(Selection)">@Selection.Name</span>

        <CostDisplay Values="Selection.Costs" />

        @* Disable remove until some best practices are made/learned for symbol-based operations *@
        @* <FluentButton @onclick="() => RemoveSelf(Selection)">Remove</FluentButton> *@

    </div>
}

@code {
    @* TODO convert to symbols-driven? *@
    [Parameter, EditorRequired]
    public ISelectionSymbol? Selection { get; set; }


    [CascadingParameter]
    public RosterEditor? Editor { get; set; }

    void RemoveSelf()
    {
        @* Editor?.ApplyOperation(RosterOperations.RemoveSelection(Selection)); *@
    }
    
    void EditSelf(ISelectionSymbol node)
    {
        NavigationManager.NavigateTo("selection-edit/" + node.Id);
    }
}