@using WarHub.ArmouryModel
@using WarHub.ArmouryModel.EditorServices


@if (Selection is not null)
{
    <div style="display: flex; gap: 1em;">

        <span>@Selection.Name</span>

        <CostDisplay Values="Selection.Costs" />

        <FluentButton @onclick=EditSelf>Edit</FluentButton>

        <FluentButton @onclick=RemoveSelf>Remove</FluentButton>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public ISelectionSymbol? Selection { get; set; }

    [Parameter]
    public EventCallback<ISelectionSymbol> SelectionClosed { get; set; }

    [Parameter]
    public EventCallback<ISelectionSymbol> EditRequested { get; set; }

    [CascadingParameter]
    public RosterEditor? Editor { get; set; }

    async Task RemoveSelf()
    {
        if (Selection is null)
            return;
        Editor?.ApplyOperation(RosterOperations.RemoveSelection(Selection.GetDeclaration()!));
        await SelectionClosed.InvokeAsync(Selection);
    }

    async Task EditSelf()
    {
        if (Selection is null)
            return;
        await EditRequested.InvokeAsync(Selection);
    }
}