@using Microsoft.Extensions.Options
@using WarHub.ArmoryModel.DataProviders
@inject GalleryHttpClient client
@inject GalleryBrowserState state

@if (CatpkgGallery is { InfoCache: { } galleryInfo } && _repositories is not null)
{
    <h2>System:</h2>
    <FluentSelect @bind-Value="_selectedRepoName">
        @foreach (var repo in _repositories)
        {
            <FluentOption Value="repo.Name">@repo.Name</FluentOption>
        }
    </FluentSelect>
    <FluentCheckbox @bind-Value="_showArchived">
        Show Archived Repositories
    </FluentCheckbox>
}
else
{
    <FluentProgressRing/>
    <p>Loading catpkg gallery...</p>
}

@code {

    [Parameter]
    public CatpkgGalleryCache? CatpkgGallery { get; set; }

    [Parameter]
    public EventCallback<CatpkgGalleryCache> CatpkgGalleryChanged { get; set; }

    string _selectedRepoName = "";

    bool _showArchived;

    bool ShowArchived
    {
        get => _showArchived;
        set
        {
            _showArchived = value;
            UpdateRepositories();
        }
    }

    List<CatpkgRepositoryInfo>? _repositories;

    List<ColumnDefinition<CatpkgRepositoryInfo>> ColumnDefinitions { get; } = new()
    {
#nullable disable
        new("Name", x => x.Description),
        new("Latest Release", x => x.Version),
#nullable restore
    };

    void UpdateRepositories()
    {
        _repositories = CatpkgGallery?.InfoCache?.Repositories
            ?.Where(x => x.Archived is not true || ShowArchived)
            .OrderBy(x => x.Description)
            .ToList()
                        ?? new();
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (CatpkgGallery is { Reference: { } galleryRef, InfoCache: null })
        {
            var result = await state.Cache.GetHydratedCatpkgGalleryCacheAsync(client, galleryRef);
            await CatpkgGalleryChanged.InvokeAsync(result);
        }
        UpdateRepositories();
    }

}